RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [L]

RewriteCond %{REQUEST_URI} ^/index$ [NC]
RewriteRule ^ / [L,R=301]

ErrorDocument 404 /index
ErrorDocument 403 /index
ErrorDocument 500 /index

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
</IfModule>
