<IfModule mod_rewrite.c>

    # Redirect URLs with .php extensions to canonical URLs
    RewriteCond %{THE_REQUEST} ^([A-Z]{3,})\s/+(.+?)\.php([/?][^#&]+)?$ [NC]
    RewriteRule ^ /%1/%2?%3 [R=301,L]
    
    # Redirect URLs with query strings to canonical URLs
    RewriteCond %{THE_REQUEST} ^([A-Z]{3,})\s/+(.+?)/([/?][^#&=]+)?$ [NC]
    RewriteRule ^ /%1/%2?%3 [R=301,L]
    
    # Redirect non-file URLs to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+?)/?$ index.php?url=%1 [QSA,L]

</IfModule>

